.containerMain{
    background-color: rgb(112, 111, 111);
    width: 25rem;
    margin: auto;
    padding: 3rem 0;
    border-radius: 10px;
    transition: height ,0.6s ease-in-out;
}
.containerSectionSearch{
    display: flex;
    gap: 1rem;
    justify-content: center;
}
.containerSectionResults{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}